<nav class="navbar">
  <ul class="nav-links">
    <li><a routerLink="/home" routerLinkActive="active">Начална страница</a></li>
    <li><a routerLink="/create-event" routerLinkActive="active">Създай събитие</a></li>
    <li><a routerLink="/events-catalogue" routerLinkActive="active">Каталог от събития</a></li>
    <li class="dropdown"
        (mouseenter)="showDropdown = true"
        (mouseleave)="showDropdown = false">
      <a routerLink="/home" routerLinkActive="active">Моите събития</a>
      <ul class="dropdown-menu" *ngIf="showDropdown">
        <li *ngIf="userId !== null">
          <a [routerLink]="['/user', userId, 'liked-events']" routerLinkActive="active">Харесани</a>
        </li>
        <li><a routerLink="/visited-events" routerLinkActive="active">Посетени</a></li>
        <li><a routerLink="/followed-events" routerLinkActive="active">Последвани</a></li>
        <li><a routerLink="/organized-events" routerLinkActive="active">Организирани</a></li>
      </ul>
    </li>
    <li><a routerLink="/profile" routerLinkActive="active">Моят профил</a></li>
  </ul>
</nav>
